<header
    class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between p-2 mb-4 bg-light border-bottom">
    <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
        <i class="bi bi-file-earmark-music fs-3 me-2"></i>
        <span class="fs-4">Song manager</span>
    </a>

    <div class="col-md-3 text-end">
        <button type="button" class="btn btn-outline-primary me-2" (click)="logout()">Logout</button>
    </div>
</header>
