<div class="d-flex flex-column min-vh-100 min-vw-100">
    <div class="d-flex flex-grow-1 justify-content-center align-items-center">
        <main class="px-3 text-center">
            <h1 class="display-2"><i class="bi bi-file-earmark-music"></i></h1>
            <h1 class="display-1"><strong>Song Manager</strong></h1>
            <p class="lead">API for storing song files and song details.</p>
            <p class="lead">
                <a class="btn btn-primary btn-lg fw-bold" routerLink="/login">Login</a>
            </p>
            <br><br><br><br>
        </main>
    </div>
</div>
