<app-header></app-header>

<div class="container">
    <form (submit)="uploadFile()">
        <div class="input-group mb-3">
            <input class="form-control" type="file" id="formFile" accept=".mp3" (change)="onFileSelected($event)">
            <button [disabled]="selectedFile == null" type="submit" class="btn btn-primary">Upload</button>
        </div>
    </form>

    <table *ngIf="Array.isArray(songList) && songList.length > 0" class="table table-striped">
        <thead>
        <tr>
            <th>#</th>
            <th>Title</th>
            <th>Artist</th>
            <th>Album</th>
            <th><i class="bi bi-clock-fill"></i></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let song of songList; let index = index">
            <td class="fw-bold">{{index + 1}}</td>
            <td class="fw-semibold">{{song.name}}</td>
            <td>
                <ng-container *ngFor="let artist of song.artists; let last = last">
                    <a class="link-dark" href="{{artist.link}}" target="_blank"
                       rel="noopener noreferrer">{{artist.name}}</a>
                    <ng-template [ngIf]="!last">,&nbsp;</ng-template>
                </ng-container>
            </td>
            <td><a class="link-dark" href="{{song.album.link}}" target="_blank" rel="noopener noreferrer">
                {{song.album.name}}</a></td>
            <td>{{song.duration | date: 'mm:ss'}}</td>
            <td>
                <div class="d-flex justify-content-end">
                    <a class="btn btn-link link-dark py-0 px-2" href="{{song.link}}" target="_blank" rel="noopener noreferrer">
                        <i class="bi bi-box-arrow-up-right"></i></a>
                    <form (submit)="downloadFile(song.id)">
                        <button type="submit" class="btn btn-link link-dark py-0 px-2"><i class="bi bi-download"></i></button>
                    </form>
                    <form (submit)="deleteSong(song.id)">
                        <button type="submit" class="btn btn-link link-dark py-0 px-2"><i class="bi bi-trash"></i></button>
                    </form>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>
