<app-header></app-header>

<div class="container">
    <form (submit)="uploadFile()" *ngIf="authService.hasAuthority('ROLE_ADMIN')">
        <div class="input-group mb-3">
            <input (change)="onFileSelected($event)" accept=".mp3" class="form-control" id="formFile" type="file">
            <button [disabled]="selectedFile == null" class="btn btn-primary" type="submit">Upload</button>
        </div>
    </form>

    <table *ngIf="Array.isArray(songList) && songList.length > 0" class="table table-striped">
        <caption *ngIf="isSongLoading">
            <div class="spinner-border spinner-border-sm" role="status"></div>
            <span> Loading...</span>
        </caption>
        <thead>
        <tr>
            <th>#</th>
            <th>Title</th>
            <th>Artist</th>
            <th>Album</th>
            <th><i class="bi bi-clock-fill"></i></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let song of songList; let index = index">
            <td class="fw-bold">{{index + 1}}</td>
            <td class="fw-semibold">{{song.name}}</td>
            <td>
                <ng-container *ngFor="let artist of song.artists; let last = last">
                    <a class="link-dark" href="{{artist.link}}" rel="noopener noreferrer"
                       target="_blank">{{artist.name}}</a>
                    <ng-template [ngIf]="!last">,&nbsp;</ng-template>
                </ng-container>
            </td>
            <td><a class="link-dark" href="{{song.album.link}}" rel="noopener noreferrer" target="_blank">
                {{song.album.name}}</a></td>
            <td>{{song.duration | date: 'mm:ss'}}</td>
            <td>
                <div class="d-flex justify-content-end">
                    <a class="btn btn-link link-dark py-0 px-2" href="{{song.link}}" rel="noopener noreferrer" target="_blank">
                        <i class="bi bi-box-arrow-up-right"></i></a>
                    <form (submit)="downloadFile(song.id)">
                        <button class="btn btn-link link-dark py-0 px-2" type="submit"><i class="bi bi-download"></i></button>
                    </form>
                    <form (submit)="deleteSong(song.id)" *ngIf="authService.hasAuthority('ROLE_ADMIN')">
                        <button class="btn btn-link link-dark py-0 px-2" type="submit"><i class="bi bi-trash"></i></button>
                    </form>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>
